@using Newtonsoft.Json
@model Blaze.Models.HomeModel
@{
    ViewBag.Title = "Campfire Client";
    Layout = null;
}
<html>
    <head>
        <title>Blaze</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />  
        @Styles.Render("~/Content/chat/css", "~/Content/css")
        <script src="~/Scripts/modernizr-2.5.3.js" type="text/javascript"></script>        
        <link rel="icon" href="~/Content/images/blaze_logo_small_x.png" type="image/x-icon">
        <link rel="shortcut icon" href="~/Content/images/blaze_logo_small_x.png" type="image/x-icon">
    </head>
    <body>
        @Html.Partial("_Login")
        @Html.Partial("_TwitterTemplate")
        @Html.Partial("_GitHubTemplate")
        @Html.Partial("_MessageTemplate")        
        <div id="page" style="display: none;">
            <div id="heading">
                <div class="banner"><a href="@Url.Action("Index")"><img src="~/Content/images/blaze_logo_medium_x.png" width="48" height="48" style="padding-top: 5px;"/></a>
                                    <h1>
                        
                                        Blaze
                                    </h1>
                                    
                    <div>Campfire Client</div>
                    @*                <img alt="logo" src="Content/images/logo32.png" id="logo" />*@
                    <div class="right">
                    <a href="#" data-bind="click: signOut">Sign Out</a>
                        </div>
                </div>
                <a class="janrainEngage" href="#" style="display:none">Sign-In</a>
                <div style="clear: both">
                </div>
                <ul id="tabs">
                    <li id="tabs-lobby" class="current lobby" data-name="lobby">
                        <button accesskey="l" type="button">
                            <span class="content">Lobby</span></button>
                    </li>
                    <!-- ko foreach: activeRooms -->
                    <li class="room" data-bind="attr: {id: tabId, 'data-name': id}, css: {current: isVisible, active: isActive}, click: $parent.displayRoom">
                        <span class="lock"></span>
                        <button data-bind="attr: {accesskey: $index()+1}" type="button">  
                            <div class="content" data-bind="text: tabText, attr: { title: tabText}, css: {'constrained': constrainTabText}"></div>
                        </button>
                        <div class="close" data-bind="click: $parent.leaveRoom"></div>
                    </li>
                    <!-- /ko -->
                </ul>
                <button style="display: none" accesskey="[" data-bind="click: showPreviousRoom" type="button">&larr;</button>
                <button style="display: none" accesskey="]" data-bind="click: showNextRoom" type="button">&rarr;</button>
            </div>
            <div id="janrainEngageEmbed">
            </div>
            <div id="chat-area">
                <ul id="messages-lobby" class="messages current" >
                    <li class="notification"><div class="content">Welcome to the Campfire lobby</div></li>
                    <li class="notification"><div class="content">You can join any of the rooms on the right.</div></li>
                </ul>
                <form id="users-filter-form" action="#">
                    <input id="users-filter" class="filter" type="text" />
                </form>
                <div id="userlist-lobby" class="users current">
                    <h3 class="userlist-header nav-header">Rooms</h3>
                    <ul data-bind="foreach: rooms">
                        <li class="room" data-bind="attr: {'data-room':name}, click: $parent.displayRoom" style="background-color: rgb(229,229,229)">
                            <span class="name" data-bind="text: name, attr: {title: topic}"></span>
                            <span class="count" data-bind="text: numUsers"></span>
                        </li>
                    </ul>
                </div>               
                <form id="send-message" action="#">
                    <div id="message-box">
                        <textarea id="new-message" autocomplete="off" accesskey="m" data-bind="value: inputMessage, valueUpdate: 'afterkeydown', event: {keydown: onKeyDown, paste: onPaste}"></textarea>
                    </div>
                    <input type="submit" id="send" value="Send" class="send btn" data-bind="click: sendMessage" />
                    <div id="message-instruction" data-bind="visible: showHint">Type @@ then press TAB to auto-complete nicknames</div>
                </form>
                <form id="file-upload" method="POST" enctype="multipart/form-data" style="display: none;">
                    <input type="file" class="file-input" name="upload"/>
                </form>
                <div id="file-upload-progress" style="display: none;">
                    <button class="btn btn-warning confirm" type="button">Confirm upload?</button>
                    <button class="btn btn-danger cancel" type="button">Cancel</button>
                    <div class="progress progress-info progress-striped active">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                    <div class="status-msg"></div>
                </div>
                <!-- ko foreach: activeRooms -->
                <ul data-bind="template: {name:'base-message-template', foreach: messages, afterAdd: collapseNotifications}, css: {current: isVisible}, visible: isVisible, attr: {id: roomDomId}" class="messages" style="display: none;">
                </ul>
                <div class="preferences"  data-bind="visible: isVisible">
                    <a class="sound" title="audible notifications" data-bind="css: {off:!prefs.sound()}, click: toggleSound"></a><a class="toast" title="popup notifications" data-bind="css: {off:!prefs.desktop()}, click: toggleDesktop, visible: canToast()"></a>
                </div>
                <div class="roomTopic" style="display: none;" data-bind="visible: isVisible"><strong>Topic: </strong><span class="topic" data-bind="textValue: topic, attr: {contenteditable: isEditingTopic}, event: {keyup: topicKeyUp, keypress: topicKeyPress},hasfocus: isEditingTopic"></span> <span title="Change topic" class="change-topic" data-bind="click: editTopic"></span></div>
                <div class="users" data-bind="css: {current: isVisible}, visible: isVisible, attr: {id: usersDomId}" style="display: none;">
                    <h3 class="userlist-header nav-header">Users</h3>
                    <div>
                        <ul data-bind="foreach: users">
                            <li class="user" data-bind="attr: {'data-name':name}">
                                <img class="gravatar" data-bind="attr: {src: avatar}"/>
                                <div class="details">
                                    <span class="name" data-bind="text: name"></span>                               
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div id="credits">Powered by <a href="https://github.com/SignalR/SignalR" target="_blank">SignalR</a> and <a href="https://github.com/davidfowl/JabbR" target="_blank">JabbR</a></div>
            <audio src="Content/sounds/notification.wav" id="notificationSound" hidden="hidden" />            
        </div>
    </body>
</html>
<script type="text/javascript">
    basePath = '@Url.Content("~")';
    chat = {};
    chat.ui = {};
</script>
@Scripts.Render("~/Scripts/js", "~/Scripts/chat/js", "~/Scripts/blaze/js")
<script src="~/Scripts/extras/bootstrap-modal.js"></script>
<script src="~/Scripts/extras/bootstrap-transition.js"></script>
<script type="text/javascript"> 

    $(function () {
        var emojiProcessor = new Emoji.Parser();
        var campfire = new Campfire(@ViewBag.Stealth);
        var chatView = new ChatView();
        var loginView = new LoginView();
        var prefs = new PreferencesModel();
        var notifications = new ChatNotifications(prefs);
        var controller = new ChatController(campfire, emojiProcessor, chatView, loginView, notifications, prefs);
        controller.init(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Accounts)));
        chat.ui.isNearTheEnd = $.proxy(chatView.isNearTheEnd, chatView);
        chat.ui.scrollToEnd = $.proxy(chatView.scrollToEnd, chatView);
        chat.ui.scrollToBottom = $.proxy(chatView.scrollToEnd, chatView);
    });
</script>
<script type="text/javascript">
    var uvOptions = {};
    (function () {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/tQFmLjZ3VVm1RosncT6Aeg.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
</script>