@model Blaze.Models.HomeModel
@{
    ViewBag.Title = "Campfire Client";
    Layout = null;
}
<html>
    <head>
        <title>Blaze - Campfire Chat Client</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <link href="@Url.Content("~/Content/Chat.css")" rel="Stylesheet" />
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="Stylesheet" />
        <link href="@Url.Content("~/Content/Blaze.css")" rel="Stylesheet" />
    </head>
    <body>
        @Html.Partial("_Login")
        <script id="base-message-template" type="text/x-jquery-tmpl">
            {{if isNotification}}
                {{tmpl "#new-notification-template"}}
            {{else}}
                {{tmpl "#new-message-template"}}
            {{/if}}            
        </script>
        <script id="new-message-template" type="text/x-jquery-tmpl">
            <li class="message ${highlight} clearfix" id="m-${id}" data-name="${username}" data-timestamp="${date}">
                <div class="left">
                    {{if showUser}}
                    <img src="${user.avatar_url}" class="gravatar" />
                    <span class="name">${trimmedName}</span>
                    {{/if}}
                </div>
                <div class="middle">
                    {{html message}}
                </div>
                <div class="right">
                    <span id="t-${id}" class="time" title="${created_at}">${when}</span>
                </div>
            </li>
        
        </script>
        <script id="new-notification-template" type="text/x-jquery-tmpl">
        <li class="notification" data-timestamp="${date}">
            <div class="content">
                {{html message}}
                <a class="info" href="#"></a>
            </div>
            <div class="right">
                <span class="time" title="${fulldate}">${when}</span>
            </div>
        </li>
        </script>

        <div id="page">
            <div id="heading">
                <div class="banner">
                    <h1>
                        Blaze</h1>
                    @*                <img alt="logo" src="Content/images/logo32.png" id="logo" />*@
                    <div class="right">
                        Powered by <a href="https://github.com/SignalR/SignalR" target="_blank">SignalR</a> and JabbR</div>
                </div>
                <a class="janrainEngage" href="#" style="display:none">Sign-In</a>
                <div style="clear: both">
                </div>
                <ul id="tabs">
                    <li id="tabs-lobby" class="current lobby" data-name="lobby">
                        <button accesskey="l">
                            <span class="content">Lobby</span></button>
                    </li>
                    <!-- ko foreach: activeRooms -->
                    <li class="room" data-bind="attr: {id: tabId, 'data-name': id}, css: {current: isVisible}">
                        <span class="lock"></span>
                        <button> 
                            <span class="content" data-bind="text: name"></span>
                        </button>
                        <div class="close"></div>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
            <div id="janrainEngageEmbed">
            </div>
            <div id="chat-area">
                <ul id="messages-lobby" class="messages current" data-bind="foreach: rooms">
                    <li class="message clearfix">
                        <div class="left">
                        </div>
                        <div class="middle">
                            <a data-bind="attr: { href: url}, text: name, click: $parent.displayRoom"></a> - <small data-bind="text: topic"></small>
                        </div>
                        <div class="right">
                        </div>
                    </li>
                </ul>
                <form id="users-filter-form" action="#">
                    <input id="users-filter" class="filter" type="text" />
                </form>
                <ul id="userlist-lobby" class="users current">
                </ul>
                <div id="preferences">
                    <a class="sound" title="audible notifications"></a><a class="toast" title="popup notifications">
                                                                       </a>
                </div>
                <form id="send-message" action="#">
                    <div id="message-box">
                        <textarea id="new-message" autocomplete="off" accesskey="m"></textarea>
                    </div>
                    <input type="submit" id="send" value="Send" class="send" />
                    <div id="message-instruction">Type @@ then press TAB to auto-complete nicknames</div>
                </form>
                <ul id="room-template" data-bind="template: {name:'base-message-template', foreach: messages}, css: {current: isVisible}, visible: isVisible" class="messages" style="display: none;">
                </ul>                
                <div id="userlist-template" class="users" data-bind="css: {current: isVisible}, visible: isVisible" style="display: none;">
                    <h3 class="userlist-header nav-header">Users</h3>
                    <div>
                        <ul data-bind="foreach: users">
                            <li class="user" data-bind="attr: {'data-name':name}">
                                <img class="gravatar" data-bind="attr: {src: avatar_url}"/>
                                <div class="details">
                                    <span class="name" data-bind="text: name"></span>                               
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <audio src="Content/sounds/notification.wav" id="noftificationSound" hidden="hidden" />
        </div>
    </body>
</html>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.linkify.1.0-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.youtube.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.scrollto.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.insertAtCaret.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.0.0.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-modal.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/content.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/chatcontroller.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/chatview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/loginview.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/models.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/api.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/base64.js")"></script>
<script type="text/javascript"> 
    $(function () {
        var contentProcessor = new ContentProcessor(emojis);
        var campfire = new Campfire();
        var chatView = new ChatView();
        var loginView = new LoginView();
        var chat = new ChatController(campfire, contentProcessor, chatView, loginView);
        chat.init('@ViewBag.AccountName');
    });
    
    var emojis = {
            @foreach (var e in Model.Emojis)
            {
            <text>'@e.Name':'@e.ImageUrl',</text>
            }
            };
</script>
